MLFLOW_TRACKING_URI=http://mlflow:5000
MODEL1_URI=models:/electricity-load-forecaster@champion
MODEL2_URI=models:/electricity-peak-classifier@champion
API_HOST=0.0.0.0
API_PORT=8000
LOG_LEVEL=INFO
REFERENCE_DATA_PATH=/app/monitoring/reference.json
CURRENT_DATA_PATH=/app/monitoring/current.json
DRIFT_THRESHOLD=0.20
